<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Crud_Parquadero</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- css -->
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<!-- skin color -->
	<link href="color/default.css" rel="stylesheet">
	<!-- Favicon -->
</head>

<body>
	<!-- navbar -->
    <div class="navbar-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<!-- Responsive navbar -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
					<h1 class="brand">Parqueadero</h1>
					<!-- navigation -->
					<nav class="pull-right nav-collapse collapse">
						<ul id="menu-main" class="nav">
							<li><a title="services" th:href="/pais">Registrar Pais</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- spacer section -->
	<section class="spacer green">
		<div class="container">
			<div class="row">
				<div class="span12 aligncenter flyUp">
					<h2 class="pagetitle">Paises <strong>Registrados</strong></h2>
				</div>
			</div>
		</div>
	</section>
    
	<section id="maincontent" class="inner">
        <div class="container">
			<div class="row">
				<div class="">
					<blockquote class="blockquote mb-0">
						<!--<div th:if="${pais == null or pais.isEmpty()}">
							<div class="alert alert-warning" role="alert">
								<font face="cursive">No se tienen Paises Registrados.</font>
							</div>
						</div>-->

						<div th:if="${pais != null and !pais.isEmpty()}">
							<table class="table">
								<thead class="thead-dark">
									<tr>
                                        <th scope="col"><font face="cursive">Codigo</font></th>
                                        <th scope="col"><font face="cursive">Nombre</font></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="pais: ${pais}">

                                        <td th:text="${pais.codigo}"></td>
										<td th:text="${pais.nombres}"></td>
												
										<td><a
								            th:href="@{/pais/paisActualizar?id=__${pais.codigo}__}"
								            class="btn btn-primary btn-lg"><font face="cursive">Actializar</font></a>
								            <a
								            th:href="@{/pais/paisEliminar?id=__${pais.codigo}__}"
								            class="btn btn-danger btn-lg"><font face="cursive">Eliminar</font></a>
											
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</blockquote>
				</div>
			</div>
        </div>
	</section>

	<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
	<!-- jQuery -->
	<script src="js/jquery.js"></script>
	<!-- nav -->
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/jquery.nav.js"></script>
	<!-- localScroll -->
	<script src="js/jquery.localScroll.js"></script>
	<!-- bootstrap -->
	<script src="js/bootstrap.js"></script>
	<!-- prettyPhoto -->
	<script src="js/jquery.prettyPhoto.js"></script>
	<!-- Works scripts -->
	<script src="js/isotope.js"></script>
	<!-- flexslider -->
	<script src="js/jquery.flexslider.js"></script>
	<!-- inview -->
	<script src="js/inview.js"></script>
	<!-- animation -->
	<script src="js/animate.js"></script>
	<!-- twitter -->
	<script src="js/jquery.tweet.js"></script>
	<!-- custom functions -->
	<script src="js/custom.js"></script>
</body>

</html>
